@font-face {
    font-family: 'PTAstraSans-Regular';
    src: url('../fonts/PTAstraSansRegular/PTAstraSans-Regular.woff') format('woff'),
        url('../fonts/PTAstraSansRegular/PTAstraSans-Regular.ttf') format('truetype'),
        url('../fonts/PTAstraSansRegular/PTAstraSans-Regular.svg#PTAstraSans-Regular') format('svg');
    src: url('../fonts/PTAstraSansRegular/PTAstraSans.eot');
    src: url('../fonts/PTAstraSansRegular/PTAstraSans.woff2') format('woff2'),
        url('../fonts/PTAstraSansRegular/PTAstraSans.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTAstraSans-Italic';
    src: url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.woff') format('woff'),
        url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.ttf') format('truetype'),
        url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.svg#PTAstraSans-Italic') format('svg');
    src: url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.eot');
    src: url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.woff2') format('woff2'),
        url('../fonts/PTAstraSansItalic/PTAstraSans-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PTAstraSans-Bold';
  src: url('../fonts/PTAstraSansBold/PTAstraSans-Bold.woff') format('woff'),
       url('../fonts/PTAstraSansBold/PTAstraSans-Bold.ttf') format('truetype'),
       url('../fonts/PTAstraSansBold/PTAstraSans-Bold.svg#PTAstraSans-Bold') format('svg');
  src: url('../fonts/PTAstraSansBold/PTAstraSans-Bold.eot');
  src: url('../fonts/PTAstraSansBold/PTAstraSans-Bold.woff2') format('woff2'),
       url('../fonts/PTAstraSansBold/PTAstraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSansRegular/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSansRegular/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/PTSansRegular/PTSans-Regular.svg#PTSans-Regular') format('svg');
    src: url('../fonts/PTSansRegular/PTSans-Regular.eot');
    src: url('../fonts/PTSansRegular/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSansRegular/PTSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('../fonts/PTSansBold/PTSans-Bold.woff') format('woff'),
        url('../fonts/PTSansBold/PTSans-Bold.ttf') format('truetype'),
        url('../fonts/PTSansBold/PTSans-Bold.svg#PTSans-Bold') format('svg');
    src: url('../fonts/PTSansBold/PTSans-Bold.eot');
    src: url('../fonts/PTSansBold/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSansBold/PTSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2Black/Exo2-Black.eot');
    src: url('../fonts/Exo2Black/Exo2-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo2Black/Exo2-Black.woff2') format('woff2'),
        url('../fonts/Exo2Black/Exo2-Black.woff') format('woff'),
        url('../fonts/Exo2Black/Exo2-Black.ttf') format('truetype'),
        url('../fonts/Exo2Black/Exo2-Black.svg#Exo2-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
    src:  url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



