body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
  outline: 1px solid #778899;
}

.first-screen {
  min-height: 755px;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.first-screen header.top .first {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.first-screen header.top .first > div {
  padding: 0;
}
.first-screen header.top .first ul li {
  float: left;
  display: inline-block;
  margin-right: 20px;
}
.first-screen header.top .first ul li a {
  color: #fff;
}
.first-screen header.top .first .info {
  text-align: right;
}
.first-screen header.top .first .info p.phone {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #fff;
  font-family: "PTAstraSans-Bold";
  font-size: 14px;
}
.first-screen header.top .first .info p.schedule {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-family: "PTAstraSans-Regular";
  opacity: .5;
}
.first-screen header.top .first .info div.languages {
  display: inline-block;
  margin: 0 0 0 30px;
}
.first-screen header.top .first .info div.languages a {
  margin-right: 7px;
}
.first-screen header.top .first .info div.languages a img {
  max-height: 10px;
}
.first-screen header.top .second {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen header.top .second > div {
  padding: 0;
}
.first-screen header.top .second > div nav {
  text-align: right;
  -webkit-transition: top ease-in-out .4s;
  transition: top ease-in-out .4s;
}
.first-screen header.top .second > div nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen header.top .second > div nav > ul > li {
  display: inline-block;
  height: 70px;
  width: 20%;
  text-align: center;
  margin-right: 1px;
}
.first-screen header.top .second > div nav > ul > li > a {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 70px;
  position: relative;
  display: inline-block;
}
.first-screen header.top .second > div nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav > ul > li > a:hover::after {
  left: 0;
  width: 100%;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav > ul li.parent {
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}
.first-screen header.top .second > div nav > ul li.parent > a::before {
  content: "\f078";
  font-family: "FontAwesome";
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 10px;
  margin-top: -2px;
}
.first-screen header.top .second > div nav > ul li.parent ul {
  display: none;
  position: absolute;
  min-width: 275px;
  text-align: left;
  background-color: #000;
  left: 0;
  top: 69px;
  padding: 13px 0;
  z-index: 20;
  border-top: 1px solid #fff;
}
.first-screen header.top .second > div nav > ul li.parent ul li {
  text-transform: uppercase;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav > ul li.parent ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 12px;
  letter-spacing: 2px;
}
.first-screen header.top .second > div nav > ul li.parent ul li:hover {
  background-color: #1a1a1a;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav.fixed {
  position: fixed;
  width: 570px;
  z-index: 25;
  top: -60px;
}
.first-screen header.top .second > div nav.fixed > ul > li {
  height: 59px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav.fixed > ul > li > a {
  line-height: 60px;
  color: #000;
  position: relative;
}
.first-screen header.top .second > div nav.fixed > ul > li > a::after {
  display: none;
}
.first-screen header.top .second > div nav.fixed > ul > li.parent > a::before {
  color: #000;
}
.first-screen header.top .second > div nav.fixed > ul > li.parent ul {
  border: none;
  top: 60px;
}
.first-screen header.top .second > div nav.fixed > ul > li:hover {
  background-color: #f2f2f2;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div nav.visible {
  top: 0;
  -webkit-transition: top ease-in-out .4s;
  transition: top ease-in-out .4s;
}
.first-screen header.top .second > div .mobile {
  display: none;
  height: 46px;
  width: 40px;
  cursor: pointer;
  float: right;
  margin-right: 3px;
  z-index: 30;
}
.first-screen header.top .second > div .mobile .hamburger {
  position: absolute;
  width: 40px;
  height: 4px;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div .mobile .hamburger::before, .first-screen header.top .second > div .mobile .hamburger::after {
  content: "";
  position: absolute;
  right: 0;
  height: 4px;
  width: 40px;
  background-color: #fff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div .mobile .hamburger::before {
  top: -14px;
}
.first-screen header.top .second > div .mobile .hamburger::after {
  top: 14px;
}
.first-screen header.top .second > div .mobile.active .hamburger {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div .mobile.active .hamburger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.top .second > div .mobile.active .hamburger::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen .middle {
  margin: 60px 0 0 -15px;
  width: calc(100% + 30px);
  padding: 0 11% 0 19%;
}
.first-screen .middle button.slick-arrow {
  height: 30px;
  width: 0;
  background-color: transparent;
  background-image: url(../img/sprite.png);
  background-position: -13px -346px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  padding: 0 0 0 16px;
  cursor: pointer;
  z-index: 10;
}
.first-screen .middle button.slick-arrow.slick-prev {
  left: 0;
}
.first-screen .middle button.slick-arrow.slick-next {
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.first-screen .middle .slide {
  padding: 10px 0 50px 20px;
  position: relative;
}
.first-screen .middle .slide h3 {
  font-family: "PTAstraSans-Bold";
  color: #fff;
  line-height: 1.5;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  max-width: 350px;
}
.first-screen .middle .slide div {
  position: relative;
  margin: 20px 0 45px -20px;
  width: 710px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 190px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen .middle .slide div span {
  line-height: 18px;
  font-family: "PTAstraSans-Regular";
  color: #fff;
  font-size: 16px;
  max-width: 260px;
  margin: 0 auto;
  display: block;
}
.first-screen .middle .slide div::before, .first-screen .middle .slide div::after {
  content: "";
  position: absolute;
  height: calc(100% + 70px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.first-screen .middle .slide div::before {
  top: -20px;
  left: 20px;
}
.first-screen .middle .slide div::after {
  bottom: -20px;
  right: 20px;
}
.first-screen .middle .slide a {
  padding: 7px 70px 7px 20px;
  position: absolute;
  right: 1px;
  border: 1px solid #fff;
  outline: none;
  display: inline-block;
  max-height: 40px;
  max-width: 230px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen .middle .slide a span {
  font-family: "PTSans-Bold";
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  display: inline-block;
}
.first-screen .middle .slide a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 42px;
  height: 8px;
  background-image: url(../img/sprite.png);
  background-position: 0 -323px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen .middle .slide a:hover::after {
  right: 10px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen .bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: arrowmove 2s infinite;
  animation: arrowmove 2s infinite;
}
.first-screen .bottom a {
  color: #fff;
  font-size: 22px;
}
.first-screen header.fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: -60px;
  z-index: 25;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.first-screen header.fixed img.fixed {
  margin-left: -15px;
}
.first-screen header.fixed.visible {
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.section {
  max-width: 100%;
  overflow: hidden;
}
.section h3 {
  color: #000;
  font-size: 30px;
  font-family: "PTAstraSans-Bold";
  text-transform: uppercase;
  margin: 0 0 0 -15px;
}
.section h3.white {
  color: #fff;
}
.section.whatWeDo {
  padding: 100px 0 70px;
}
.section.whatWeDo h3 {
  margin: 0 0 50px -15px;
}
.section.whatWeDo .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section.whatWeDo .content .block {
  padding: 30px 38px;
  position: relative;
}
.section.whatWeDo .content .block .myicon {
  display: block;
  height: 75px;
  width: 75px;
  background-image: url(../img/sprite.png);
  background-position-y: -81px;
  background-repeat: no-repeat;
}
.section.whatWeDo .content .block p {
  font-size: 18px;
  font-family: "PTAstraSans-Bold";
  color: #000;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  min-height: 95px;
  position: relative;
}
.section.whatWeDo .content .block p::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 29px;
  height: 4px;
  background-color: #1b45a4;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.whatWeDo .content .block > span {
  display: block;
  font-size: 14px;
  color: #000;
  font-family: "PTAstraSans-Regular";
  line-height: 1.5;
  min-height: 80px;
  max-width: 210px;
}
.section.whatWeDo .content .block a {
  position: relative;
}
.section.whatWeDo .content .block a span {
  font-size: 12px;
  color: #f47d42;
  font-family: "PTSans-Bold";
  opacity: 0;
}
.section.whatWeDo .content .block a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  width: 42px;
  background-image: url(../img/sprite.png);
  background-position: -65px -323px;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
}
.section.whatWeDo .content .block .top::before, .section.whatWeDo .content .block .top::after, .section.whatWeDo .content .block .bottom::before, .section.whatWeDo .content .block .bottom::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  display: block;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.whatWeDo .content .block .top::before, .section.whatWeDo .content .block .top::after {
  top: 0;
}
.section.whatWeDo .content .block .top::before {
  left: 0;
  border-top: 4px solid #f47d42;
  border-left: 4px solid #f47d42;
}
.section.whatWeDo .content .block .top::after {
  right: 0;
  border-top: 4px solid #f47d42;
  border-right: 4px solid #f47d42;
}
.section.whatWeDo .content .block .bottom::before, .section.whatWeDo .content .block .bottom::after {
  bottom: 0;
}
.section.whatWeDo .content .block .bottom::before {
  left: 0;
  border-bottom: 4px solid #f47d42;
  border-left: 4px solid #f47d42;
}
.section.whatWeDo .content .block .bottom::after {
  right: 0;
  border-bottom: 4px solid #f47d42;
  border-right: 4px solid #f47d42;
}
.section.whatWeDo .content .block.first .myicon {
  background-position-x: 0px;
}
.section.whatWeDo .content .block.second .myicon {
  background-position-x: -97px;
}
.section.whatWeDo .content .block.third .myicon {
  background-position-x: -198px;
}
.section.whatWeDo .content .block.forth .myicon {
  background-position-x: -291px;
}
.section.whatWeDo .content .block:hover .myicon {
  background-image: url(../img/sprite.png);
  background-position-y: 0;
}
.section.whatWeDo .content .block:hover p::before {
  opacity: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.whatWeDo .content .block:hover a span {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.section.whatWeDo .content .block:hover a::after {
  left: 88px;
  background-image: url(../img/sprite.png);
  background-position: -141px -323px;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
}
.section.whatWeDo .content .block:hover .top::before, .section.whatWeDo .content .block:hover .top::after, .section.whatWeDo .content .block:hover .bottom::before, .section.whatWeDo .content .block:hover .bottom::after {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.businessInFigures {
  background-image: url(../img/business-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.section.businessInFigures .container {
  padding: 100px 15px 120px;
}
.section.businessInFigures .container h3 {
  position: relative;
}
.section.businessInFigures .container h3::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 295px);
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 0;
  margin-left: 310px;
}
.section.businessInFigures .container .content {
  position: relative;
  margin-top: -17px;
  padding: 75px 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section.businessInFigures .container .content .block {
  position: relative;
  padding: 0 0 0 90px;
}
.section.businessInFigures .container .content .block::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 55px;
  height: 33px;
  width: 15px;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
  background-image: url(../img/sprite.png);
  background-position: -216px -325px;
}
.section.businessInFigures .container .content .block .number {
  position: relative;
  padding-top: 100px;
  min-width: 185px;
}
.section.businessInFigures .container .content .block .number p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Exo 2";
  font-size: 96px;
  line-height: 1;
  margin: 0;
  z-index: 2;
  background-image: url(../img/business-bg.jpg);
  background-position-y: 400px;
  background-attachment: scroll;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: text-shadow ease-in-out .4s;
  transition: text-shadow ease-in-out .4s;
}
.section.businessInFigures .container .content .block .number span {
  position: absolute;
  font-family: "Exo 2";
  font-size: 96px;
  color: #fff;
  line-height: 1;
  display: block;
  top: 0;
  left: 0;
  text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0;
}
.section.businessInFigures .container .content .block .number.first p {
  background-position-x: -216px;
}
.section.businessInFigures .container .content .block .number.second p {
  background-position-x: -483px;
}
.section.businessInFigures .container .content .block .number.third p {
  background-position-x: -750px;
}
.section.businessInFigures .container .content .block .number.forth p {
  background-position-x: -1015px;
}
.section.businessInFigures .container .content .block > span {
  color: #fff;
  font-family: "PTAstraSans-Bold";
  font-size: 18px;
  line-height: 1.3;
  margin: 15px 0 0 0;
  display: block;
  min-height: 90px;
  max-width: 125px;
}
.section.businessInFigures .container .content .block a {
  position: relative;
}
.section.businessInFigures .container .content .block a span {
  font-size: 12px;
  color: #fff;
  font-family: "PTSans-Bold";
  opacity: 0;
}
.section.businessInFigures .container .content .block a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  width: 42px;
  background-image: url(../img/sprite.png);
  background-position: 0 -323px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: .3;
}
.section.businessInFigures .container .content .block:hover .number span {
  text-shadow: #fff 2px 2px 0, #fff -2px -2px 0, #fff -2px 2px 0, #fff 2px -2px 0;
  -webkit-transition: text-shadow ease-in-out .4s;
  transition: text-shadow ease-in-out .4s;
}
.section.businessInFigures .container .content .block:hover a span {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.section.businessInFigures .container .content .block:hover a::after {
  left: 88px;
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.businessInFigures .container .content::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: calc(100% - 30px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.section.businessInFigures .container .content::after {
  content: "";
  position: absolute;
  display: block;
  height: 50px;
  width: 52px;
  background-image: url(../img/sprite.png);
  background-position: -297px -319px;
  bottom: -17px;
  right: 90px;
}
.section.ourProjects {
  padding: 100px 0 50px 0;
}
.section.ourProjects .projects {
  margin: 40px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section.ourProjects .projects .main {
  min-width: 755px;
  position: relative;
}
.section.ourProjects .projects .main img {
  z-index: 2;
  margin-left: 50px;
}
.section.ourProjects .projects .main .block {
  margin-top: -374px;
  height: 475px;
  width: 520px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.section.ourProjects .projects .main .block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  position: relative;
}
.section.ourProjects .projects .main .block div p.vertical {
  margin: 0;
  color: #9197a1;
  font-family: "PTAstraSans-Regular";
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 80px;
  left: -48px;
}
.section.ourProjects .projects .main .block div p.name {
  position: relative;
  font-family: "PTAstraSans-Bold";
  font-size: 18px;
  color: #000;
  margin: 0 0 55px 0;
  padding: 0 0 0 50px;
  line-height: 1;
}
.section.ourProjects .projects .main .block div p.name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 4px;
  width: 51px;
  background-color: #1b45a4;
}
.section.ourProjects .projects .main .block div a {
  position: relative;
  line-height: 18px;
  margin: 0 0 55px 0;
  padding: 0 40px 0 0;
  font-size: 12px;
  font-family: "PTSans-Bold";
  color: #9197a1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.ourProjects .projects .main .block div a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  height: 8px;
  width: 42px;
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -65px -323px;
  margin-top: -2px;
  -webkit-transition: right ease-in-out .4s;
  transition: right ease-in-out .4s;
}
.section.ourProjects .projects .main .block div a:hover {
  color: #f47d42;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.ourProjects .projects .main .block div a:hover::after {
  right: -30px;
  background-position: -141px -323px;
  -webkit-transition: right ease-in-out .4s;
  transition: right ease-in-out .4s;
}
.section.ourProjects .projects .info {
  padding: 85px 0 0 85px;
  color: #000;
  max-height: 80%;
  overflow: hidden;
  -webkit-column-width: 150px;
          column-width: 150px;
  position: relative;
  width: calc(100% - 755px);
}
.section.ourProjects .projects .info p {
  font-family: "PTAstraSans-Bold";
  font-size: 14px;
  margin: 0;
}
.section.ourProjects .projects .info ul li {
  position: relative;
  margin-top: 10px;
  font-family: "PTAstraSans-Regular";
  font-size: 12px;
  line-height: 1.5;
}
.section.ourProjects .projects .info ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  height: 2px;
  width: 11px;
  background-color: #1b45a4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section.ourProjects .projects .info span {
  margin-top: 10px;
  font-family: "PTAstraSans-Regular";
  font-size: 12px;
  line-height: 1.5;
  display: block;
}
.section.ourProjects .projects.project2 .info {
  opacity: 0;
}
.section.ourProjects .projects.project3 .main .block div p.vertical {
  top: 110px;
  left: -70px;
}
.section.ourProjects .projects.project3 .info {
  opacity: 0;
}
.section.howWeWork {
  padding: 100px 0 50px 0;
}
.section.howWeWork .content {
  margin-top: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section.howWeWork .content .block {
  width: calc(25% - 1px);
  height: 415px;
  border: 1px solid #e5e5e5;
  margin-left: -1px;
  padding: 45px 40px;
  position: relative;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.howWeWork .content .block .myicon {
  height: 65px;
  width: 65px;
  display: block;
  background-image: url(../img/sprite.png);
  background-position-y: -245px;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
.section.howWeWork .content .block p {
  font-family: "PTAstraSans-Bold";
  color: #000;
  font-size: 24px;
  line-height: 1.1;
  margin: 0 0 16px 0;
}
.section.howWeWork .content .block > span {
  font-family: "PTAstraSans-Regular";
  font-size: 14px;
  color: #000;
  line-height: 18px;
  display: block;
}
.section.howWeWork .content .block a {
  position: absolute;
  bottom: 45px;
  left: 40px;
}
.section.howWeWork .content .block a span {
  font-size: 12px;
  color: #f47d42;
  font-family: "PTSans-Bold";
  opacity: 0;
}
.section.howWeWork .content .block a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  width: 42px;
  background-image: url(../img/sprite.png);
  background-position: -65px -323px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.howWeWork .content .block .bd-top::before, .section.howWeWork .content .block .bd-top::after {
  content: "";
  position: absolute;
  border: 1px solid;
  display: block;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.howWeWork .content .block .bd-top::before {
  height: 10px;
  width: 20px;
  border-color: transparent #e5e5e5 #e5e5e5 transparent;
  top: -10px;
  left: -20px;
}
.section.howWeWork .content .block .bd-top::after {
  height: 20px;
  width: 10px;
  border-color: transparent transparent #e5e5e5 #e5e5e5;
  top: -20px;
  right: -10px;
}
.section.howWeWork .content .block .bd-bottom::before, .section.howWeWork .content .block .bd-bottom::after {
  content: "";
  position: absolute;
  border: 1px solid;
  display: block;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.howWeWork .content .block .bd-bottom::before {
  height: 20px;
  width: 10px;
  border-color: #e5e5e5 #e5e5e5 transparent transparent;
  bottom: -20px;
  left: -10px;
}
.section.howWeWork .content .block .bd-bottom::after {
  height: 10px;
  width: 20px;
  border-color: #e5e5e5 transparent transparent #e5e5e5;
  bottom: -10px;
  right: -20px;
}
.section.howWeWork .content .block.first {
  margin-left: 1px;
}
.section.howWeWork .content .block.first.hide-bottom-right .bd-bottom::after {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.second {
  margin-top: 75px;
}
.section.howWeWork .content .block.second .myicon {
  background-position-x: -77px;
}
.section.howWeWork .content .block.second.hide-top-left .bd-top::before {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.second.hide-top-right .bd-top::after {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.second.hide-bottom-left .bd-bottom::before {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.third .myicon {
  background-position-x: -165px;
}
.section.howWeWork .content .block.third.hide-bottom-left .bd-bottom::before {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.third.hide-top-left .bd-top::after {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.third.hide-bottom-right .bd-bottom::after {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block.forth {
  margin-top: 75px;
}
.section.howWeWork .content .block.forth .myicon {
  background-position-x: -260px;
}
.section.howWeWork .content .block.forth.hide-top-left .bd-top::before {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  opacity: 0;
}
.section.howWeWork .content .block:hover {
  border: 1px solid #f47d42;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1), 0px 20px 40px 0px rgba(244, 165, 66, 0.33);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1), 0px 20px 40px 0px rgba(244, 165, 66, 0.33);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  z-index: 2;
}
.section.howWeWork .content .block:hover .myicon {
  background-image: url(../img/sprite.png);
  background-position-y: -162px;
}
.section.howWeWork .content .block:hover a span {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.section.howWeWork .content .block:hover a::after {
  left: 88px;
  background-image: url(../img/sprite.png);
  background-position: -141px -323px;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
}
.section.ourPartners {
  padding: 60px 0 100px;
}
.section.ourPartners .container {
  padding: 0;
}
.section.ourPartners h3 {
  margin: 0 0 60px 0;
}
.section.ourPartners .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section.ourPartners .content a img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: url(grayscale.svg#greyscale);
          filter: url(grayscale.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  opacity: 0.29;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.ourPartners .content a:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: url(grayscale.svg#greyscale);
          filter: url(grayscale.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(0);
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container {
  background-image: url(../img/form-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 0 70px;
}
.section.fillTheForm .container h3 {
  text-align: center;
  line-height: 1;
}
.section.fillTheForm .container h3 + span {
  font-size: 12px;
  font-family: "PTAstraSans-Regular";
  color: #fff;
  text-align: center;
  display: block;
  line-height: 18px;
}
.section.fillTheForm .container form {
  width: calc(50% + 60px);
  padding: 30px 60px 74px;
  margin: 30px auto 0 auto;
  background-color: #fff;
  text-align: center;
  min-height: 530px;
  max-height: 530px;
  position: relative;
}
.section.fillTheForm .container form label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  height: 50px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form label span {
  font-family: "PTAstraSans-Regular";
  color: #9197a1;
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 40%;
}
.section.fillTheForm .container form label span.error {
  position: absolute;
  font-size: 11px;
  color: #f47d42;
  font-family: "PTAstraSans-Italic";
  width: auto;
  left: 40%;
  top: 50px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form label input {
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  outline: none;
  width: 60%;
  height: calc(100% + 1px);
  font-size: 14px;
  font-family: "PTAstraSans-Bold";
  color: #000;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form label input:focus {
  border-bottom: 1px solid #1b45a4;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form label.error {
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form label.error input {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  border-bottom: 1px solid #f47d42;
}
.section.fillTheForm .container form label.error span.error {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form > p {
  margin: 30px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.section.fillTheForm .container form > p span {
  width: 40%;
  font-family: "PTAstraSans-Regular";
  color: #9197a1;
  font-size: 14px;
  line-height: 18px;
  display: block;
}
.section.fillTheForm .container form > p label {
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  padding-left: 30px;
}
.section.fillTheForm .container form > p label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 22px;
  background-image: url(../img/sprite.png);
  background-position: -53px -355px;
}
.section.fillTheForm .container form > p label input {
  display: none;
}
.section.fillTheForm .container form > p label span {
  font-family: "PTSans-Bold";
  font-size: 12px;
  border-bottom: 1px solid #d3d5d9;
  line-height: 1;
  width: auto;
}
.section.fillTheForm .container form > p label span.error {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 30px;
  padding: 5px;
  width: 200px;
  border: 1px solid #f47d42;
  border-radius: 3px;
  text-align: center;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.section.fillTheForm .container form > p label:hover span.error {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.section.fillTheForm .container form a.submit {
  position: relative;
  display: block;
  outline: none;
  margin: 50px auto 0 auto;
  border: 2px solid #1b45a4;
  width: 156px;
  height: 50px;
  color: #1b45a4;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  font-family: "PTSans-Bold";
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(27, 69, 164, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(27, 69, 164, 0.2);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form a.submit p {
  color: #1b45a4;
  margin: 0;
  display: inline-block;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form a.submit:hover {
  border: 2px solid #f47d42;
  color: #f47d42;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(215, 99, 72, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(215, 99, 72, 0.2);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form a.submit:hover::after {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form a.submit:hover p {
  color: #f47d42;
  margin-right: 15px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form a.submit::after {
  content: "";
  display: block;
  height: 19px;
  width: 19px;
  background-image: url(../img/sprite.png);
  background-position: -95px -356px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  opacity: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form .result {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: #000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  z-index: 3;
}
.section.fillTheForm .container form .result h4 {
  text-transform: uppercase;
  font-family: "PTAstraSans-Bold";
  color: #000;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}
.section.fillTheForm .container form .result img {
  margin: 30px 0 20px;
}
.section.fillTheForm .container form .result p {
  font-family: "PTAstraSans-Regular";
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  margin: 0;
  max-width: 30%;
}
.section.fillTheForm .container form .result.visible {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.section.fillTheForm .container form .result.form-error img {
  margin-top: 0;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

footer .first {
  margin-top: 35px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .first .left {
  padding: 0;
}
footer .first .left ul {
  margin-top: 20px;
}
footer .first .left ul li {
  display: inline-block;
  min-width: 30px;
}
footer .first .left ul li a {
  color: #000;
  font-size: 16px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
footer .first .left ul li a:hover {
  color: #f47d42;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
footer .first .right p {
  margin: 0 0 20px 0;
  font-family: "PTSans-Regular";
  color: #9197a1;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .first .right span {
  font-size: 12px;
  font-family: "PTAstraSans-Regular";
  color: #000;
  line-height: 1.5;
  display: block;
}
footer .last {
  min-height: 70px;
  padding-top: 20px;
}
footer .last > div p {
  margin: 0 0 0 -15px;
  font-family: "PTAstraSans-Regular";
  color: #000;
  font-size: 12px;
}
footer .last > div span {
  font-family: "PTAstraSans-Regular";
  color: #9197a1;
  line-height: 1;
  font-size: 12px;
}
footer .last > div span a {
  text-decoration: none;
  border-bottom: 1px solid #c6c8cd;
  line-height: 1;
  display: inline-block;
  margin-left: 3px;
  color: #9197a1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
footer .last > div span a:hover {
  color: #f47d42;
  border-bottom: 1px solid #f47d42;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

#toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
  color: #9197a1;
  font-size: 40px;
  z-index: 20;
  -webkit-transition: color ease-in-out .4s;
  transition: color ease-in-out .4s;
}
#toTop:hover {
  color: #f47d42;
  -webkit-transition: color ease-in-out .4s;
  transition: color ease-in-out .4s;
}

#offcanvas-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
  z-index: 30;
}
#offcanvas-menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#offcanvas-menu.active {
  left: 0;
  -webkit-transition: left ease-in-out .4s;
  transition: left ease-in-out .4s;
}
#offcanvas-menu .mobile-cross {
  position: absolute;
  right: 3px;
  height: 32px;
  width: 40px;
  cursor: pointer;
  float: right;
  margin-right: 3px;
  z-index: 30;
}
#offcanvas-menu .mobile-cross .hamburger {
  position: absolute;
  width: 40px;
  height: 4px;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .mobile-cross .hamburger::before, #offcanvas-menu .mobile-cross .hamburger::after {
  content: "";
  position: absolute;
  right: 0;
  height: 4px;
  width: 40px;
  background-color: #fff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .mobile-cross .hamburger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .mobile-cross .hamburger::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .top {
  position: relative;
  min-height: 140px;
  padding-top: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#offcanvas-menu .top > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#offcanvas-menu .main {
  min-height: calc(100vh - 250px);
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
#offcanvas-menu .main::-webkit-scrollbar {
  width: 3px;
}
#offcanvas-menu .main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#offcanvas-menu .main::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
  outline: 1px solid #778899;
}
#offcanvas-menu .main .accordion {
  padding: 10px 0;
}
#offcanvas-menu .main p {
  margin: 0;
  padding: 10px 0;
}
#offcanvas-menu .main p a {
  color: #fff;
  font-family: "PTSans-Bold";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#offcanvas-menu .main p.parent a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#offcanvas-menu .main p.parent a i {
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .main p.parent a i.transform {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#offcanvas-menu .main .submenu ul {
  padding-left: 20px;
  margin: 10px 0 30px;
}
#offcanvas-menu .main .submenu ul li {
  padding-bottom: 12px;
}
#offcanvas-menu .main .submenu ul li a {
  font-family: "PTSans-Regular";
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 12px;
}
#offcanvas-menu .lang {
  min-height: 110px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  position: relative;
}
#offcanvas-menu .lang ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#offcanvas-menu .lang ul li {
  display: inline-block;
  float: left;
}
#offcanvas-menu .lang ul li:nth-child(2) {
  margin: 0 20px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 50;
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  visibility: visible;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.preloader .loader {
  position: relative;
  width: 75px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preloader .loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #1b45a4;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.preloader .loader__bar:nth-child(1) {
  left: 0px;
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
          animation: barUp1 4s infinite;
}
.preloader .loader__bar:nth-child(2) {
  left: 15px;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
          animation: barUp2 4s infinite;
}
.preloader .loader__bar:nth-child(3) {
  left: 30px;
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
          animation: barUp3 4s infinite;
}
.preloader .loader__bar:nth-child(4) {
  left: 45px;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
          animation: barUp4 4s infinite;
}
.preloader .loader__bar:nth-child(5) {
  left: 60px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
          animation: barUp5 4s infinite;
}
.preloader .loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #1b45a4;
  border-radius: 50%;
  -webkit-animation: ball 4s infinite;
          animation: ball 4s infinite;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@-webkit-keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@-webkit-keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@-webkit-keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@-webkit-keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes arrowmove {
  0%, 100% {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
}
@keyframes arrowmove {
  0%, 100% {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
