@media all and (min-width: 1375px) {
  .section.businessInFigures .container .content .block .number p {
    display: none;
  }
}
@media all and (max-width: 1199px) {
  .first-screen header.top .second > div nav {
    max-width: 480px;
  }

  .first-screen .middle {
    padding: 0 11% 0 11%;
  }

  .section.whatWeDo .content .block {
    padding: 30px 30px 30px 35px;
  }

  .section.businessInFigures .container .content .block {
    padding: 0 0 0 50px;
  }
  .section.businessInFigures .container .content .block::before {
    left: 30px;
  }
  .section.businessInFigures .container .content .block .number.first p {
    background-position: -265px 400px;
  }
  .section.businessInFigures .container .content .block .number.second p {
    background-position: -492px 400px;
  }
  .section.businessInFigures .container .content .block .number.third p {
    background-position: -721px 400px;
  }
  .section.businessInFigures .container .content .block .number.forth p {
    background-position: -947px 400px;
  }

  .section.howWeWork .content .block {
    padding: 45px 25px;
  }
  .section.howWeWork .content .block a {
    left: 25px;
  }
}
@media all and (max-width: 991px) {
  .first-screen header.top .first .info div.languages,
  .first-screen header.top .second > div nav > ul {
    display: none;
  }

  .first-screen {
    background-position: 25% center;
  }
  .first-screen header.top .second {
    padding-top: 18px;
  }
  .first-screen header.top .second > div .mobile {
    display: block;
  }
  .first-screen header.top .second > div nav.fixed {
    width: 360px;
    min-height: 60px;
  }
  .first-screen header.top .second > div nav.fixed .mobile .hamburger {
    background-color: #000;
  }
  .first-screen header.top .second > div nav.fixed .mobile .hamburger::before, .first-screen header.top .second > div nav.fixed .mobile .hamburger::after {
    background-color: #000;
  }
  .first-screen .middle {
    width: calc(100% + 30px);
    margin: 90px 0 0 -15px;
  }
  .first-screen .middle .slide a {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .first-screen .middle .slide div {
    max-width: 590px;
  }
  .first-screen .middle .slide div::after {
    right: 40px;
  }

  .section.whatWeDo .content .block a span {
    color: #9197a1;
    opacity: 1;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
  }
  .section.whatWeDo .content .block a::after {
    left: 88px;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.whatWeDo .content .block:hover a span {
    color: #f47d42;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
  }
  .section.whatWeDo .content .block:hover a::after {
    left: 98px;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.businessInFigures {
    background-image: url(../img/business-bg-768.jpg);
    background-position: 50% 50%;
  }
  .section.businessInFigures .container .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section.businessInFigures .container .content .block {
    width: 50%;
    padding: 0 0 0 100px;
  }
  .section.businessInFigures .container .content .block::before {
    left: 60px;
  }
  .section.businessInFigures .container .content .block .number p {
    display: none;
  }
  .section.businessInFigures .container .content .block .number.first + span, .section.businessInFigures .container .content .block .number.second + span {
    min-height: 50px;
  }
  .section.businessInFigures .container .content .block .number.third, .section.businessInFigures .container .content .block .number.forth {
    margin-top: 40px;
  }
  .section.businessInFigures .container .content .block > span {
    max-width: 80%;
  }
  .section.businessInFigures .container .content .block a span {
    opacity: 1;
  }
  .section.businessInFigures .container .content .block a::after {
    left: 88px;
    opacity: 1;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.businessInFigures .container .content .block:hover a::after {
    left: 98px;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.ourProjects .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section.ourProjects .projects .main {
    min-width: 100%;
    max-width: 100%;
  }
  .section.ourProjects .projects .main img {
    max-width: calc(100% - 50px);
  }
  .section.ourProjects .projects .main .block {
    width: 90%;
  }
  .section.ourProjects .projects .info {
    padding: 20px 0 0 0;
    margin-bottom: 15px;
    -webkit-column-width: auto;
            column-width: auto;
    width: 100%;
  }
  .section.ourProjects .projects .info p, .section.ourProjects .projects .info ul {
    display: inline-block;
    width: 50%;
    padding-left: 125px;
  }
  .section.ourProjects .projects .info span {
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: -20px;
  }
  .section.ourProjects .projects.project2 .info {
    opacity: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section.ourProjects .projects.project3 .info {
    opacity: 1;
  }
  .section.howWeWork .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: calc((100% - 570px)/2);
  }
  .section.howWeWork .content .block {
    padding: 45px 40px;
    width: 285px;
  }
  .section.howWeWork .content .block.third {
    margin-top: -76px;
    margin-left: 1px;
  }
  .section.howWeWork .content .block.forth {
    margin-top: -1px;
  }
  .section.howWeWork .content .block a {
    left: 40px;
  }
  .section.howWeWork .content .block a span {
    opacity: 1;
    color: #9197a1;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
  }
  .section.howWeWork .content .block a::after {
    left: 88px;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.howWeWork .content .block:hover a span {
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    color: #f47d42;
  }
  .section.howWeWork .content .block:hover a::after {
    left: 98px;
    -webkit-transition: left ease-in-out .4s;
    transition: left ease-in-out .4s;
  }
  .section.ourPartners .content a {
    display: inline-block;
    width: 20%;
    padding: 5px;
    text-align: center;
  }
  .section.ourPartners .content a img {
    max-width: 100%;
  }
  .section.fillTheForm .container form {
    width: 80%;
  }

  footer .last > div span {
    float: right;
    margin-right: -7px;
  }
}
@media all and (max-width: 767px) {
  .first-screen header.top .first {
    display: none;
  }

  .first-screen {
    min-height: 600px;
  }
  .first-screen header.top .second > div nav.fixed {
    width: 270px;
  }
  .first-screen .middle {
    padding: 0;
  }
  .first-screen .middle .slide {
    padding: 0 0 50px 0;
  }
  .first-screen .middle .slide div {
    max-width: calc(100% + 30px);
    border-bottom: none;
    min-height: 0;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .first-screen .middle .slide div::before, .first-screen .middle .slide div::after {
    display: none;
  }
  .first-screen .middle .slide div span {
    max-width: 100%;
    margin: 0 20px;
    text-align: left;
  }
  .first-screen .middle .slide a {
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .first-screen .middle button.slick-arrow {
    top: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 25px;
  }
  .first-screen .middle button.slick-arrow.slick-next {
    left: 50px;
  }
  .first-screen .bottom a {
    font-size: 30px;
  }

  .section h3 {
    margin-bottom: 30px;
  }
  .section.whatWeDo {
    padding: 50px 0 0 0;
  }
  .section.whatWeDo .content .block {
    padding: 0;
    margin-bottom: 40px;
  }
  .section.whatWeDo .content .block p {
    min-height: 0;
    margin-bottom: 25px;
  }
  .section.whatWeDo .content .block span {
    max-width: 100%;
    min-height: 0;
    margin-bottom: 20px;
  }
  .section.whatWeDo .content .block .top, .section.whatWeDo .content .block .bottom {
    display: none;
  }
  .section.businessInFigures .container {
    padding: 60px 15px 15px 15px;
  }
  .section.businessInFigures .container h3::after {
    display: none;
  }
  .section.businessInFigures .container .content {
    border: none;
    padding: 0;
  }
  .section.businessInFigures .container .content::before, .section.businessInFigures .container .content::after {
    display: none;
  }
  .section.businessInFigures .container .content .block {
    width: 100%;
    padding: 0 0 0 35px;
    margin-bottom: 35px;
  }
  .section.businessInFigures .container .content .block::before {
    left: 0;
  }
  .section.businessInFigures .container .content .block .number + span, .section.businessInFigures .container .content .block .number.first + span, .section.businessInFigures .container .content .block .number.second + span {
    min-height: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .section.businessInFigures .container .content .block .number.third, .section.businessInFigures .container .content .block .number.forth {
    margin-top: 0;
  }
  .section.ourProjects {
    padding: 60px 0 0 0;
  }
  .section.ourProjects .projects {
    margin: 0;
  }
  .section.ourProjects .projects .main img {
    max-width: calc(100% + 30px);
    margin-left: -15px;
  }
  .section.ourProjects .projects .main .block {
    width: 100%;
    margin-top: 0;
    height: auto;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 20px;
  }
  .section.ourProjects .projects .main .block div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section.ourProjects .projects .main .block div p.vertical {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .section.ourProjects .projects .main .block div p.name {
    margin: 0 0 15px 0;
    padding: 0;
  }
  .section.ourProjects .projects .main .block div p.name::before {
    left: -60px;
  }
  .section.ourProjects .projects .main .block div a {
    margin-bottom: 40px;
  }
  .section.ourProjects .projects .info {
    display: none;
  }
  .section.howWeWork {
    padding: 60px 0 50px 0;
  }
  .section.howWeWork .content {
    margin: 0;
  }
  .section.howWeWork .content .block.first, .section.howWeWork .content .block.second, .section.howWeWork .content .block.third, .section.howWeWork .content .block.forth {
    margin: -1px auto 0 auto;
    padding: 20px 20px 75px 20px;
    height: auto;
    width: 100%;
  }
  .section.howWeWork .content .block.first .myicon, .section.howWeWork .content .block.second .myicon, .section.howWeWork .content .block.third .myicon, .section.howWeWork .content .block.forth .myicon {
    margin-bottom: 20px;
  }
  .section.howWeWork .content .block.first a, .section.howWeWork .content .block.second a, .section.howWeWork .content .block.third a, .section.howWeWork .content .block.forth a {
    bottom: 35px;
    left: 20px;
  }
  .section.ourPartners {
    padding: 10px 0 100px;
  }
  .section.ourPartners .content a {
    width: 33.3333%;
  }
  .section.fillTheForm h3 {
    margin: 0;
  }
  .section.fillTheForm .container {
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    padding: 45px 0 10px;
    max-width: 570px;
  }
  .section.fillTheForm .container form {
    width: calc(100% - 20px);
    padding: 10px 20px 60px;
    min-height: 575px;
  }
  .section.fillTheForm .container form label {
    width: 100%;
    height: 65px;
    padding-top: 20px;
  }
  .section.fillTheForm .container form label input {
    width: 100%;
  }
  .section.fillTheForm .container form label span.label {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
  }
  .section.fillTheForm .container form label span.label.active {
    top: 10px;
    left: -5px;
    font-size: 12px;
    -webkit-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
  }
  .section.fillTheForm .container form label span.error {
    top: 65px;
  }
  .section.fillTheForm .container form > p {
    height: 65px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section.fillTheForm .container form > p span {
    width: 100%;
  }
  .section.fillTheForm .container form > p label {
    padding-top: 5px;
  }
  .section.fillTheForm .container form > p label span.error {
    left: 100%;
    top: 0;
    margin-left: 10px;
    padding: 3px;
    width: 160px;
  }
  .section.fillTheForm .container form .result p {
    max-width: 75%;
  }

  #offcanvas-menu .top {
    min-height: 70px;
    padding: 0;
  }
  #offcanvas-menu .main {
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
  }
  #offcanvas-menu .lang {
    min-height: 80px;
    padding: 0;
  }
  #offcanvas-menu .mobile-cross {
    right: -10px;
  }

  footer {
    text-align: center;
  }
  footer .first .left {
    margin: 15px 0;
  }
  footer .first .right {
    margin-bottom: 15px;
  }
  footer .first .right p {
    margin: 25px 0 0 0;
    font-size: 10px;
    line-height: 1;
  }
  footer .first .right span {
    display: inline-block;
    line-height: 1;
  }
  footer .last {
    min-height: 80px;
    padding: 20px 0;
  }
  footer .last > div span {
    float: none;
    margin: 0;
  }
}
@media all and (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .first-screen {
    background-position: 50% center;
  }
  .first-screen header.fixed .container .row > div {
    width: 50%;
  }
  .first-screen header.fixed .container .row > div img.fixed {
    margin: 0;
    max-width: 210px;
  }
  .first-screen header.top .second a img {
    max-width: 210px;
  }
  .first-screen header.top .second > div {
    width: 50%;
    padding: 0 15px;
  }
  .first-screen header.top .second > div .mobile .hamburger {
    right: 15px;
  }
  .first-screen header.top .second > div nav.fixed {
    width: calc(50% - 15px);
  }
  .first-screen .middle {
    padding: 0 15px;
  }
  .first-screen .middle button.slick-arrow {
    margin-left: 15px;
  }

  .section h3 {
    font-size: 24px;
  }
  .section.whatWeDo {
    padding: 50px 15px 0 15px;
  }
  .section.whatWeDo .content .block p::before {
    left: -35px;
  }
  .section.businessInFigures {
    padding: 0 15px;
  }
  .section.ourProjects h3 {
    margin-left: 0;
  }
  .section.ourProjects .projects .main .block {
    padding: 20px 15px 0 15px;
  }
  .section.howWeWork {
    padding: 60px 15px 0 15px;
  }
  .section.ourPartners h3 {
    margin-left: 15px;
  }

  #offcanvas-menu .container .row > div {
    padding: 0 15px;
  }
  #offcanvas-menu .container .row > div .mobile-cross {
    right: 5px;
  }
  #offcanvas-menu .container .row.top img {
    max-width: 210px;
  }
}
