@font-face {
  font-family: 'PTAstraSans-Bold';
  src: url('PTAstraSans-Bold.woff') format('woff'),
       url('PTAstraSans-Bold.ttf') format('truetype'),
       url('PTAstraSans-Bold.svg#PTAstraSans-Bold') format('svg');
  src: url('PTAstraSans-Bold.eot');
  src: url('PTAstraSans-Bold.woff2') format('woff2'),
       url('PTAstraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

