// colors
$menuColor: #fff;
$menuColorHover: #1a1a1a;
$submenuColorBg: #000;
$dashColor: #1b45a4;
$orangeColor: #f47d42;
$verticalText: #9197a1;
$projectBorder: #e5e5e5;
$menuFixedHover: #f2f2f2;

// font-families
$SansRegular: 'PTSans-Regular';
$SansBold: 'PTSans-Bold';
$AstraSansBold: 'PTAstraSans-Bold';
$AstraSansRegular: 'PTAstraSans-Regular';
$AstraSansItalic: 'PTAstraSans-Italic';
$FontAwesome: 'FontAwesome';
$Exo2: 'Exo 2';