@import 'variables';

body{
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #A9A9A9;
        outline: 1px solid #778899;
    }
}


.first-screen{
    min-height: 755px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    header.top{
        .first{
            justify-content: space-between;
            align-items: center;
            min-height: 50px;
            border-bottom: 1px solid rgba(255,255,255,.3);
            >div{
                padding: 0;
            }
            ul li{
                float: left;
                display: inline-block;
                margin-right: 20px;
                a{
                    color: $menuColor;
                }
            }
            .info{
                text-align: right;
                p.phone{
                    display: inline-block;
                    margin: 0 20px 0 0;
                    color: $menuColor;
                    font-family: $AstraSansBold;
                    font-size: 14px;
                }
                p.schedule{
                    margin: 0;
                    display: inline-block;
                    font-size: 12px;
                    color: $menuColor;
                    font-family: $AstraSansRegular;
                    opacity: .5;
                }
                div.languages{
                    display: inline-block;
                    margin: 0 0 0 30px;
                    a{
                        margin-right: 7px;
                        img{
                            max-height: 10px;
                        }
                    }
                }
            }
        }
        .second{
            justify-content: space-between;
            align-items: center;
            >div{
                padding: 0;
                nav{
                    text-align: right;
                    transition: top ease-in-out .4s;
                    > ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        > li{
                            display: inline-block;
                            height: 70px;
                            width: 20%;
                            text-align: center;
                            // border-right: 1px solid transparent;
                            margin-right: 1px;
                            > a{
                                color: $menuColor;
                                font-family: $SansRegular;
                                font-size: 12px;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                line-height: 70px;
                                position: relative;
                                display: inline-block;
                                &::after{
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    width: 0;
                                    height: 1px;
                                    background-color: $menuColor;
                                    transition: all ease-in-out .4s;
                                }
                                &:hover::after{
                                    left: 0;
                                    width: 100%;
                                    transition: all ease-in-out .4s;
                                }
                            }
                        }
                        li.parent{
                            padding-right: 15px;
                            position: relative;
                            cursor: pointer;
                            > a{
                                &::before{
                                    content: "\f078";
                                    font-family: $FontAwesome;
                                    position: absolute;
                                    right: -20px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    color: $menuColor;
                                    font-size: 10px;
                                    margin-top: -2px;
                                }
                            }
                            ul{
                                display: none;
                                position: absolute;
                                min-width: 275px;
                                text-align: left;
                                background-color: $submenuColorBg;
                                left: 0;
                                top: 69px;
                                padding: 13px 0;
                                z-index: 20;
                                border-top: 1px solid $menuColor;
                                li{
                                    text-transform: uppercase;
                                    transition: all ease-in-out .4s;
                                    a{
                                        padding: 10px 20px;
                                        display: block;
                                        color: $menuColor;
                                        font-family: $SansRegular;
                                        font-size: 12px;
                                        letter-spacing: 2px;
                                    }
                                    &:hover{
                                        background-color: $menuColorHover;
                                        transition: all ease-in-out .4s;
                                    }
                                }
                            }
                        }
                    }
                    &.fixed{
                        position: fixed;
                        width: 570px;
                        z-index: 25;
                        top: -60px;
                        > ul {
                            > li{
                                height: 59px;
                                transition: all ease-in-out .4s;
                                > a{
                                    line-height: 60px;
                                    color: $submenuColorBg;
                                    position: relative;
                                    &::after{
                                        display: none;
                                    }
                                }
                                &.parent{
                                    > a {
                                        &::before{
                                            color: $submenuColorBg;
                                        }
                                    }
                                    ul{
                                        border: none;
                                        top: 60px;
                                    }
                                }
                                &:hover{
                                    background-color: $menuFixedHover;
                                    transition: all ease-in-out .4s;
                                }
                            }
                        }
                    }
                    &.visible{
                        top: 0;
                        transition: top ease-in-out .4s;
                    }
                }
                .mobile{
                    display: none;
                    height: 46px;
                    width: 40px;
                    cursor: pointer;
                    float: right;
                    margin-right: 3px;
                    z-index: 30;
                    .hamburger{
                        position: absolute;
                        width: 40px;
                        height: 4px;
                        top: 50%;
                        right: 3px;
                        transform: translateY(-50%);
                        background-color: $menuColor;
                        transition: all ease-in-out .4s;
                        &::before, &::after{
                            content: "";
                            position: absolute;
                            right: 0;
                            height: 4px;
                            width: 40px;
                            background-color: $menuColor;
                            transition: all ease-in-out .4s;
                        }
                        &::before{
                            top: -14px;
                        }
                        &::after{
                            top: 14px;
                        }
                    }
                    &.active{
                        .hamburger{
                            background-color: rgba(255, 255, 255, 0);
                            transition: all ease-in-out .4s;
                            &::before{
                                transform: rotate(45deg);
                                top: 0;
                                transition: all ease-in-out .4s;
                            }
                            &::after{
                                transform: rotate(135deg);
                                top: 0;
                                transition: all ease-in-out .4s;
                            }
                        }
                    }
                }
            }
        }
    }
    .middle{
        margin: 60px 0 0 -15px;
        width: calc(100% + 30px);
        padding: 0 11% 0 19%;
        button.slick-arrow{
            height: 30px;
            width: 0;
            background-color: transparent;
            background-image: url(../img/sprite.png);
            background-position: -13px -346px;
            overflow: hidden;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            outline: none;
            padding: 0 0 0 16px;
            cursor: pointer;
            z-index: 10;
        }
        button.slick-arrow.slick-prev{
            left: 0;
        }
        button.slick-arrow.slick-next{
            right: 0;
            transform: rotateY(180deg);
        }
        .slide{
            padding: 10px 0 50px 20px;
            position: relative;
            h3{
                font-family: $AstraSansBold;
                color: $menuColor;
                line-height: 1.5;
                font-size: 30px;
                text-transform: uppercase;
                margin: 0;
                max-width: 350px;
            }
            div{
                position: relative;
                margin: 20px 0 45px -20px;
                width: 710px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                min-height: 190px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    line-height: 18px;
                    font-family: $AstraSansRegular;
                    color: $menuColor;
                    font-size: 16px;
                    max-width: 260px;
                    margin: 0 auto;
                    display: block;
                }
                &::before, &::after{
                    content: "";
                    position: absolute;
                    height: calc(100% + 70px);
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &::before{
                    top: -20px;
                    left: 20px;
                }
                &::after{
                    bottom: -20px;
                    right: 20px;
                }
            }
            a{
                padding: 7px 70px 7px 20px;
                position: absolute;
                right: 1px;
                border: 1px solid $menuColor;
                outline: none;
                display: inline-block;
                max-height: 40px;
                max-width: 230px;
                transition: all ease-in-out .4s;
                span{
                    font-family: $SansBold;
                    font-size: 12px;
                    line-height: 1.5;
                    color: $menuColor;
                    display: inline-block;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 42px;
                    height: 8px;
                    background-image: url(../img/sprite.png);
                    background-position: 0 -323px;
                    transition: all ease-in-out .4s;
                }
                &:hover::after{
                    right: 10px;
                    transition: all ease-in-out .4s;
                }
            }
        }
    }
    .bottom{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
        -webkit-animation: arrowmove 2s infinite;
        animation: arrowmove 2s infinite;
        a{
            color: $menuColor;
            font-size: 22px;
        }
    }
    header.fixed{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 60px;
        border-bottom: 1px solid $projectBorder;
        background-color: $menuColor;
        width: 100%;
        position: fixed;
        top: -60px;
        z-index: 25;
        transition: all ease-in-out .4s;
        img.fixed{
            margin-left: -15px;
        }
        &.visible{
            top: 0;
            transition: all ease-in-out .4s;
        }
    }
}
.section{
    max-width: 100%;
    overflow: hidden;
    h3{
        color: $submenuColorBg;
        font-size: 30px;
        font-family: $AstraSansBold;
        text-transform: uppercase;
        margin: 0 0 0 -15px;
        &.white{
            color: $menuColor;
        }
    }
    &.whatWeDo{
        padding: 100px 0 70px;
        h3{
            margin: 0 0 50px -15px;
        }
        .content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .block{
                padding: 30px 38px;
                position: relative;
                .myicon{
                    display: block;
                    height: 75px;
                    width: 75px;
                    background-image: url(../img/sprite.png);
                    background-position-y: -81px;
                    background-repeat: no-repeat;
                }
                p{
                    font-size: 18px;
                    font-family: $AstraSansBold;
                    color: $submenuColorBg;
                    line-height: 1.5;
                    text-transform: uppercase;
                    margin: 0;
                    min-height: 95px;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -40px;
                        width: 29px;
                        height: 4px;
                        background-color: $dashColor;
                        transition: all ease-in-out .4s;
                    }
                }
                > span{
                    display: block;
                    font-size: 14px;
                    color: $submenuColorBg;
                    font-family: $AstraSansRegular;
                    line-height: 1.5;
                    min-height: 80px;
                    max-width: 210px;
                }
                a{
                    position: relative;
                    span{
                        font-size: 12px;
                        color: $orangeColor;
                        font-family: $SansBold;
                        opacity: 0;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        height: 8px;
                        width: 42px;
                        background-image: url(../img/sprite.png);
                        background-position: -65px -323px;
                        transition: left ease-in-out .4s;
                    }
                }
                .top, .bottom{
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        height: 24px;
                        width: 24px;
                        display: block;
                        background-color: transparent;
                        opacity: 0;
                        transition: all ease-in-out .4s;
                    }
                }
                .top{
                    &::before, &::after{
                        top: 0;
                    }
                    &::before{
                        left: 0;
                        border-top: 4px solid $orangeColor;
                        border-left: 4px solid $orangeColor;
                    }
                    &::after{
                        right: 0;
                        border-top: 4px solid $orangeColor;
                        border-right: 4px solid $orangeColor;
                    }
                }
                .bottom{
                    &::before, &::after{
                        bottom: 0;
                    }
                    &::before{
                        left: 0;
                        border-bottom: 4px solid $orangeColor;
                        border-left: 4px solid $orangeColor;
                    }
                    &::after{
                        right: 0;
                        border-bottom: 4px solid $orangeColor;
                        border-right: 4px solid $orangeColor;
                    }
                }
                &.first{
                    .myicon{
                        background-position-x: 0px;
                    }
                }
                &.second{
                    .myicon{
                        background-position-x: -97px;
                    }
                }
                &.third{
                    .myicon{
                        background-position-x: -198px;
                    }
                }
                &.forth{
                    .myicon{
                        background-position-x: -291px;
                    }
                }
                &:hover{
                    .myicon{
                        background-image: url(../img/sprite.png);
                        background-position-y: 0;
                    }
                    p::before{
                        opacity: 0;
                        transition: all ease-in-out .4s;
                    }
                    a{
                        span{
                            opacity: 1;
                            transition: all ease-in-out .4s;
                            transition-delay: .4s;
                        }
                        &::after{
                            left: 88px;
                            background-image: url(../img/sprite.png);
                            background-position: -141px -323px;
                            transition: left ease-in-out .4s;
                        }
                    }
                    .top, .bottom{
                        &::before, &::after{
                            opacity: 1;
                            transition: all ease-in-out .4s;
                        }
                    }
                }
            }
        }
    }
    &.businessInFigures{
        background-image: url(../img/business-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        .container{
            padding: 100px 15px 120px;
            h3{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: calc(100% - 295px);
                    display: block;
                    background-color: rgba(255, 255, 255, 0.3);
                    top: 50%;
                    left: 0;
                    margin-left: 310px;
                }
            }
            .content{
                position: relative;
                margin-top: -17px;
                padding: 75px 0 60px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .block{
                    position: relative;
                    padding: 0 0 0 90px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 70px;
                        left: 55px;
                        height: 33px;
                        width: 15px;
                        transition: left ease-in-out .4s;
                        background-image: url(../img/sprite.png);
                        background-position: -216px -325px;
                    }
                    .number{
                        position: relative;
                        padding-top: 100px;
                        min-width: 185px;
                        p{
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-family: $Exo2;
                            font-size: 96px;
                            line-height: 1;
                            margin: 0;
                            z-index: 2;
                            background-image: url(../img/business-bg.jpg);
                            background-position-y: 400px;
                            background-attachment: scroll;
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            transition: text-shadow ease-in-out .4s;
                        }
                        span{
                            position: absolute;
                            font-family: $Exo2;
                            font-size: 96px;
                            color: $menuColor;
                            line-height: 1;
                            display: block;
                            top: 0;
                            left: 0;
                            text-shadow: $menuColor 1px 1px 0, $menuColor -1px -1px 0,
                                         $menuColor -1px 1px 0, $menuColor 1px -1px 0;
                        }
                        &.first{
                            p{
                                background-position-x: -216px;
                            }
                        }
                        &.second{
                            p{
                                background-position-x: -483px;
                            }
                        }
                        &.third{
                            p{
                                background-position-x: -750px;
                            }
                        }
                        &.forth{
                            p{
                                background-position-x: -1015px;
                            }
                        }
                    }
                    > span{
                        color: $menuColor;
                        font-family: $AstraSansBold;
                        font-size: 18px;
                        line-height: 1.3;
                        margin: 15px 0 0 0;
                        display: block;
                        min-height: 90px;
                        max-width: 125px;
                    }
                    a{
                        position: relative;
                        span{
                            font-size: 12px;
                            color: $menuColor;
                            font-family: $SansBold;
                            opacity: 0;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            height: 8px;
                            width: 42px;
                            background-image: url(../img/sprite.png);
                            background-position: 0 -323px;
                            -webkit-transition: all ease-in-out .4s;
                            transition: all ease-in-out .4s;
                            opacity: .3;
                        }
                    }
                    &:hover{
                        .number{
                            span{
                                text-shadow: $menuColor 2px 2px 0, $menuColor -2px -2px 0,
                                             $menuColor -2px 2px 0, $menuColor 2px -2px 0;
                                transition: text-shadow ease-in-out .4s;
                            }
                        }
                        a{
                            span{
                                opacity: 1;
                                -webkit-transition: all ease-in-out .4s;
                                transition: all ease-in-out .4s;
                                -webkit-transition-delay: .4s;
                                transition-delay: .4s;
                            }
                            &::after{
                                left: 88px;
                                opacity: 1;
                                -webkit-transition: all ease-in-out .4s;
                                transition: all ease-in-out .4s;
                            }
                        }
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 0;
                    height: calc(100% - 30px);
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &::after{
                    content: "";
                    position: absolute;
                    display: block;
                    height: 50px;
                    width: 52px;
                    background-image: url(../img/sprite.png);
                    background-position: -297px -319px;
                    bottom: -17px;
                    right: 90px;
                }
            }
        }
    }
    &.ourProjects{
        padding: 100px 0 50px 0;
        .projects{
            margin: 40px 0 0 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .main{
                min-width: 755px;
                position: relative;
                img{
                    z-index: 2;
                    margin-left: 50px;
                }
                .block{
                    margin-top: -374px;
                    height: 475px;
                    width: 520px;
                    border: 1px solid $projectBorder;
                    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        height: 100%;
                        position: relative;
                        p.vertical{
                            margin: 0;
                            color: $verticalText;
                            font-family: $AstraSansRegular;
                            position: absolute;
                            transform: rotate(-90deg);
                            top: 80px;
                            left: -48px;
                        }
                        p.name{
                            position: relative;
                            font-family: $AstraSansBold;
                            font-size: 18px;
                            color: $submenuColorBg;
                            margin: 0 0 55px 0;
                            padding: 0 0 0 50px;
                            line-height: 1;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: -22px;
                                transform: translateY(-50%);
                                height: 4px;
                                width: 51px;
                                background-color: $dashColor;
                            }
                        }
                        a{
                            position: relative;
                            line-height: 18px;
                            margin: 0 0 55px 0;
                            padding: 0 40px 0 0;
                            font-size: 12px;
                            font-family: $SansBold;
                            color: $verticalText;
                            transition: all ease-in-out .4s;
                            &::after{
                                content:"";
                                position: absolute;
                                top: 50%;
                                right: -20px;
                                height: 8px;
                                width: 42px;
                                display: block;
                                background-image: url(../img/sprite.png);
                                background-position: -65px -323px;
                                margin-top: -2px;
                                transition: right ease-in-out .4s;
                            }
                            &:hover{
                                color: $orangeColor;
                                transition: all ease-in-out .4s;
                                &::after{
                                    right: -30px;
                                    background-position: -141px -323px;
                                    transition: right ease-in-out .4s;
                                }
                            }
                        }
                    }
                }
            }
            .info{
                padding: 85px 0 0 85px;
                color: $submenuColorBg;
                max-height: 80%;
                overflow: hidden;
                column-width: 150px;
                position: relative;
                width: calc(100% - 755px);
                p{
                    font-family: $AstraSansBold;
                    font-size: 14px;
                    margin: 0;
                }
                ul li{
                    position: relative;
                    margin-top: 10px;
                    font-family: $AstraSansRegular;
                    font-size: 12px;
                    line-height: 1.5;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -30px;
                        height: 2px;
                        width: 11px;
                        background-color: $dashColor;
                        transform: translateY(-50%);
                    }
                }
                span{
                    margin-top: 10px;
                    font-family: $AstraSansRegular;
                    font-size: 12px;
                    line-height: 1.5;
                    display: block;
                }
            }
            &.project2{
                .info{
                    opacity: 0;
                }
            }
            &.project3{
                .main .block div p.vertical{
                    top: 110px;
                    left: -70px;
                }
                .info{
                    opacity: 0;
                }
            }
        }
    }
    &.howWeWork{
        padding: 100px 0 50px 0;
        .content{
            margin-top: 30px;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .block{
                width: calc(25% - 1px);
                height: 415px;
                border: 1px solid $projectBorder;
                margin-left: -1px;
                padding: 45px 40px;
                position: relative;
                transition: all ease-in-out .4s;
                .myicon{
                    height: 65px;
                    width: 65px;
                    display: block;
                    background-image: url(../img/sprite.png);
                    background-position-y: -245px;
                    background-repeat: no-repeat;
                    margin-bottom: 80px;
                }
                p{
                    font-family: $AstraSansBold;
                    color: $submenuColorBg;
                    font-size: 24px;
                    line-height: 1.1;
                    margin: 0 0 16px 0;
                }
                > span{
                    font-family: $AstraSansRegular;
                    font-size: 14px;
                    color: $submenuColorBg;
                    line-height: 18px;
                    display: block;
                }
                a{
                    position: absolute;
                    bottom: 45px;
                    left: 40px;
                    span{
                        font-size: 12px;
                        color: $orangeColor;
                        font-family: $SansBold;
                        opacity: 0;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        height: 8px;
                        width: 42px;
                        background-image: url(../img/sprite.png);
                        background-position: -65px -323px;
                        -webkit-transition: all ease-in-out .4s;
                        transition: all ease-in-out .4s;
                    }
                }
                .bd-top{
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        border: 1px solid;
                        display: block;
                        transition: all ease-in-out .4s;
                    }
                    &::before{
                        height: 10px;
                        width: 20px;
                        border-color: transparent $projectBorder $projectBorder transparent;
                        top: -10px;
                        left: -20px;
                    }
                    &::after{
                        height: 20px;
                        width: 10px;
                        border-color: transparent transparent $projectBorder $projectBorder;
                        top: -20px;
                        right: -10px;
                    }
                }
                .bd-bottom{
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        border: 1px solid;
                        display: block;
                        transition: all ease-in-out .4s;
                    }
                    &::before{
                        height: 20px;
                        width: 10px;
                        border-color: $projectBorder $projectBorder transparent transparent ;
                        bottom: -20px;
                        left: -10px;
                    }
                    &::after{
                        height: 10px;
                        width: 20px;
                        border-color: $projectBorder transparent transparent $projectBorder;
                        bottom: -10px;
                        right: -20px;
                    }
                }
                &.first{
                    margin-left: 1px;
                    &.hide-bottom-right{
                        .bd-bottom{
                            &::after{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                }
                &.second{
                    margin-top:75px;
                    .myicon{
                        background-position-x: -77px;
                    }
                    &.hide-top-left{
                        .bd-top{
                            &::before{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                    &.hide-top-right{
                        .bd-top{
                            &::after{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                    &.hide-bottom-left{
                        .bd-bottom{
                            &::before{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                }
                &.third{
                    .myicon{
                        background-position-x: -165px;
                    }
                    &.hide-bottom-left{
                        .bd-bottom{
                            &::before{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                    &.hide-top-left{
                        .bd-top{
                            &::after{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                    &.hide-bottom-right{
                        .bd-bottom{
                            &::after{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                }
                &.forth{
                    margin-top:75px;
                    .myicon{
                        background-position-x: -260px;
                    }
                    &.hide-top-left{
                        .bd-top{
                            &::before{
                                transition: all ease-in-out .4s;
                                opacity: 0;
                            }
                        }
                    }
                }
                &:hover{
                    border: 1px solid $orangeColor;
                    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1) , 0px 20px 40px 0px rgba(244, 165, 66, 0.33);
                    transition: all ease-in-out .4s;
                    z-index: 2;
                    .myicon{
                        background-image: url(../img/sprite.png);
                        background-position-y: -162px;
                    }
                    a{
                        span{
                            opacity: 1;
                            -webkit-transition: all ease-in-out .4s;
                            transition: all ease-in-out .4s;
                            -webkit-transition-delay: .4s;
                            transition-delay: .4s;
                        }
                        &::after{
                            left: 88px;
                            background-image: url(../img/sprite.png);
                            background-position: -141px -323px;
                            -webkit-transition: left ease-in-out .4s;
                            transition: left ease-in-out .4s;
                        }
                    }
                }
            }
        }
    }
    &.ourPartners{
        padding: 60px 0 100px;
        .container{
            padding: 0;
        }
        h3{
            margin: 0 0 60px 0;
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            a{
                img{
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: url(grayscale.svg#greyscale);
                    filter: gray;
                    -webkit-filter: grayscale(1);
                    opacity: 0.29;
                    transition: all ease-in-out .4s;
                }
                &:hover{
                    img{
                        -webkit-filter: grayscale(0%);
                        -moz-filter: grayscale(0%);
                        -ms-filter: grayscale(0%);
                        -o-filter: grayscale(0%);
                        filter: grayscale(0%);
                        filter: url(grayscale.svg#greyscale);
                        filter: gray;
                        -webkit-filter: grayscale(0);
                        opacity: 1;
                        transition: all ease-in-out .4s;
                    }
                }
            }
        }
    }
    &.fillTheForm{
        .container{
            background-image: url(../img/form-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 45px 0 70px;
            h3{
                text-align: center;
                line-height: 1;
                & + span{
                    font-size: 12px;
                    font-family: $AstraSansRegular;
                    color: $menuColor;
                    text-align: center;
                    display: block;
                    line-height: 18px;
                }
            }
            form{
                width: calc(50% + 60px);
                padding: 30px 60px 74px;
                margin: 30px auto 0 auto;
                background-color: $menuColor;
                text-align: center;
                min-height: 530px;
                max-height: 530px;
                position: relative;
                label{
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    margin: 0;
                    height: 50px;
                    text-align: left;
                    border-bottom: 1px solid $projectBorder;
                    transition: all ease-in-out .4s;
                    span{
                        font-family: $AstraSansRegular;
                        color: $verticalText;
                        font-size: 14px;
                        line-height: 18px;
                        display: block;
                        width: 40%;
                        &.error{
                            position: absolute;
                            font-size: 11px;
                            color: $orangeColor;
                            font-family: $AstraSansItalic;
                            width: auto;
                            left: 40%;
                            top: 50px;
                            z-index: 2;
                            opacity: 0;
                            transition: all ease-in-out .4s;
                        }
                    }
                    input{
                        border: none;
                        border-bottom: 1px solid transparent;
                        background-color: transparent;
                        outline: none;
                        width: 60%;
                        height: calc(100% + 1px);
                        font-size: 14px;
                        font-family: $AstraSansBold;
                        color: $submenuColorBg;
                        transition: all ease-in-out .4s;
                        &:focus{
                            border-bottom: 1px solid $dashColor;
                            transition: all ease-in-out .4s;
                        }
                    }
                    &.error{
                        margin-bottom: 10px;
                        transition: all ease-in-out .4s;
                        input{
                            transition: all ease-in-out .4s;
                            border-bottom: 1px solid $orangeColor;
                        }
                        span.error{
                            opacity: 1;
                            transition: all ease-in-out .4s;
                        }
                    }
                }
                > p{
                    margin: 30px 0 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-align: left;
                    span{
                        width: 40%;
                        font-family: $AstraSansRegular;
                        color: $verticalText;
                        font-size: 14px;
                        line-height: 18px;
                        display: block;
                    }
                    label{
                        width: auto;
                        height: auto;
                        border: none;
                        cursor: pointer;
                        padding-left: 30px;
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 20px;
                            width: 22px;
                            background-image: url(../img/sprite.png);
                            background-position: -53px -355px;
                        }
                        input{
                            display: none;
                        }
                        span{
                            font-family: $SansBold;
                            font-size: 12px;
                            border-bottom: 1px solid #d3d5d9;
                            line-height: 1;
                            width: auto;
                        }
                        span.error{
                            position: absolute;
                            opacity: 0;
                            left: 0;
                            top: 30px;
                            padding: 5px;
                            width: 200px;
                            border: 1px solid $orangeColor;
                            border-radius: 3px;
                            text-align: center;
                            transition: opacity ease-in-out .4s;
                        }
                        &:hover span.error{
                            opacity: 1;
                            transition: opacity ease-in-out .4s;
                        }
                    }
                }
                a.submit{
                    position: relative;
                    display: block;
                    outline: none;
                    margin: 50px auto 0 auto;
                    border: 2px solid $dashColor;
                    width: 156px;
                    height: 50px;
                    color: $dashColor;
                    text-align: center;
                    font-size: 16px;
                    line-height: 46px;
                    font-family: $SansBold;
                    background-color: transparent;
                    cursor: pointer;
                    box-shadow: 0px 10px 20px 0px rgba(27, 69, 164, 0.2);
                    transition: all ease-in-out .4s;
                    p{
                        color: $dashColor;
                        margin: 0;
                        display: inline-block;
                        transition: all ease-in-out .4s;
                    }
                    &:hover{
                        border: 2px solid $orangeColor;
                        color: $orangeColor;
                        box-shadow: 0px 10px 20px 0px rgba(215, 99, 72, 0.2);
                        transition: all ease-in-out .4s;
                        &::after{
                            opacity: 1;
                            transition: all ease-in-out .4s;
                        }
                        p{
                            color: $orangeColor;
                            margin-right: 15px;
                            transition: all ease-in-out .4s;
                        }
                    }
                    &::after{
                        content: "";
                        display: block;
                        height: 19px;
                        width: 19px;
                        background-image: url(../img/sprite.png);
                        background-position: -95px -356px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                        opacity: 0;
                        transition: all ease-in-out .4s;
                    }
                }
                .result{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $menuColor;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    color: $submenuColorBg;
                    transform: scale(0);
                    transition: all ease-in-out .4s;
                    z-index: 3;
                    h4{
                        text-transform: uppercase;
                        font-family: $AstraSansBold;
                        color: $submenuColorBg;
                        font-size: 18px;
                        line-height: 1;
                        margin: 0;
                    }
                    img{
                        margin: 30px 0 20px;
                    }
                    p{
                        font-family: $AstraSansRegular;
                        font-size: 12px;
                        margin: 0;
                        line-height: 1.5;
                        margin: 0;
                        max-width: 30%;
                    }
                    &.visible{
                        transform: scale(1);
                        transition: all ease-in-out .4s;
                    }
                    &.form-error{
                        img{
                            margin-top: 0;
                            animation: rotate 2s linear infinite;
                        }
                    }
                }
            }
        }
    }
}
footer{
    .first{
        margin-top: 35px;
        padding-bottom: 24px;
        border-bottom: 1px solid $menuFixedHover;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left{
            padding: 0;
            ul{
                margin-top: 20px;
                li{
                    display: inline-block;
                    min-width: 30px;
                    a{
                        color: $submenuColorBg;
                        font-size: 16px;
                        transition: all ease-in-out .4s;
                        &:hover{
                            color: $orangeColor;
                            transition: all ease-in-out .4s;
                        }
                    }
                }
            }
        }
        .right{
            p{
                margin: 0 0 20px 0;
                font-family: $SansRegular;
                color: $verticalText;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            span{
                font-size: 12px;
                font-family: $AstraSansRegular;
                color: $submenuColorBg;
                line-height: 1.5;
                display: block;
            }
        }
    }
    .last{
        min-height: 70px;
        padding-top: 20px;
        >div{
            p{
                margin: 0 0 0 -15px;
                font-family: $AstraSansRegular;
                color: $submenuColorBg;
                font-size: 12px;
            }
            span{
                font-family: $AstraSansRegular;
                color: $verticalText;
                line-height: 1;
                font-size: 12px;
                a{
                    text-decoration: none;
                    border-bottom: 1px solid #c6c8cd;
                    line-height: 1;
                    display: inline-block;
                    margin-left: 3px;
                    color: $verticalText;
                    transition: all ease-in-out .4s;
                    &:hover{
                        color: $orangeColor;
                        border-bottom: 1px solid $orangeColor;
                        transition: all ease-in-out .4s;
                    }
                }
            }
        }
    }
}
#toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
    color: $verticalText;
    font-size: 40px;
    z-index: 20;
    transition: color ease-in-out .4s;
    &:hover{
        color: $orangeColor;
        transition: color ease-in-out .4s;
    }
}
#offcanvas-menu{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    min-height: 100vh;
    width: 100%;
    background-color: $submenuColorBg;
    transition: left ease-in-out .4s;
    z-index: 30;
    > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    &.active{
        left: 0;
        transition: left ease-in-out .4s;
    }
    .mobile-cross{
        position: absolute;
        right: 3px;
        height: 32px;
        width: 40px;
        cursor: pointer;
        float: right;
        margin-right: 3px;
        z-index: 30;
        .hamburger{
            position: absolute;
            width: 40px;
            height: 4px;
            top: 50%;
            right: 3px;
            transform: translateY(-50%);
            background-color: rgba(255,255,255,0);
            transition: all ease-in-out .4s;
            &::before, &::after{
                content: "";
                position: absolute;
                right: 0;
                height: 4px;
                width: 40px;
                background-color: $menuColor;
                transition: all ease-in-out .4s;
            }
            &::before{
                transform: rotate(45deg);
                top: 0;
                transition: all ease-in-out .4s;
            }
            &::after{
                transform: rotate(135deg);
                top: 0;
                transition: all ease-in-out .4s;
            }
        }
    }
    .top{
        position: relative;
        min-height: 140px;
        padding-top: 35px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        > div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .main{
        min-height: calc(100vh - 250px);
        max-height: calc(100vh - 250px);
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #A9A9A9;
            outline: 1px solid #778899;
        }
        .accordion{
            padding: 10px 0;
        }
        p{
            margin: 0;
            padding: 10px 0;
            a{
                color: $menuColor;
                font-family: $SansBold;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            &.parent{
                a{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    i{
                        margin-left: 10px;
                        color: $menuColor;
                        font-size: 12px;
                        transition: all ease-in-out .4s;
                        &.transform{
                            transform: scaleY(-1);
                            transition: all ease-in-out .4s;
                        }
                    }
                }
            }
        }
        .submenu{
            ul{
                padding-left: 20px;
                margin: 10px 0 30px;
                li{
                    padding-bottom: 12px;
                    a{
                        font-family: $SansRegular;
                        color: $menuColor;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding-top: 12px;
                    }
                }
            }
        }
    }
    .lang{
        min-height: 110px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 30px;
        position: relative;
        ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            li{
                display: inline-block;
                float: left;
                &:nth-child(2){
                    margin: 0 20px;
                }
            }
        }
    }
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 50;
    opacity: 1;
    transition: 1s all;
    visibility: visible;
    &.done{
        opacity: 0;
        visibility: hidden;
        transition: 1s all;
        transition-delay: 1.5s;
    }

    .loader{
        position: relative;
        width: 75px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__bar {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 50%;
        background: $dashColor;
        transform-origin: center bottom;
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);

            @for $i from 1 through 5 {
               &:nth-child(#{$i}) {
                 left: ($i - 1) * 15px;
                 transform: scale(1,$i*.2);
                 animation: barUp#{$i} 4s infinite;
                }
            }
        }
        &__ball {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 10px;
            height: 10px;
            background: $dashColor;
            border-radius: 50%;
            animation: ball 4s infinite;
        }
    }

    &.done{
        opacity: 0;
        visibility: hidden;
    }
    @keyframes ball {
            0% {
                transform: translate(0, 0);
            }
            5% {
                transform: translate(8px, -14px);
            }
            10% {
                transform: translate(15px, -10px)
            }
            17% {
                transform: translate(23px, -24px)
            }
            20% {
                transform: translate(30px, -20px)
            }
            27% {
                transform: translate(38px, -34px)
            }
            30% {
                transform: translate(45px, -30px)
            }
            37% {
                transform: translate(53px, -44px)
            }
            40% {
                transform: translate(60px, -40px)
            }
            50% {
                transform: translate(60px, 0)
            }
            57% {
                transform: translate(53px, -14px)
            }
            60% {
                transform: translate(45px, -10px)
            }
            67% {
                transform: translate(37px, -24px)
            }
            70% {
                transform: translate(30px, -20px)
            }
            77% {
                transform: translate(22px, -34px)
            }
            80% {
                transform: translate(15px, -30px)
            }
            87% {
                transform: translate(7px, -44px)
            }
            90% {
                transform: translate(0, -40px)
            }
            100% {
                transform: translate(0, 0);
            }
    }

    @keyframes barUp1 {
        0% {
            transform: scale(1, .2);
        }
        40%{
            transform: scale(1, .2);
        }
        50% {
            transform: scale(1, 1);
        }
        90% {
            transform: scale(1,1);
        }
        100% {
            transform: scale(1,.2);
        }
    }
    @keyframes barUp2 {
        0% {
            transform: scale(1, .4);
        }
        40% {
            transform: scale(1, .4);
        }
        50% {
            transform: scale(1, .8);
        }
        90% {
            transform: scale(1, .8);
        }
        100% {
            transform: scale(1, .4);
        }
    }
    @keyframes barUp3 {
        0% {
            transform: scale(1, .6);
        }
        100% {
            transform: scale(1, .6);
        }
    }
    @keyframes barUp4 {
        0% {
            transform: scale(1, .8);
        }
        40% {
            transform: scale(1, .8);
        }
        50% {
            transform: scale(1, .4);
        }
        90% {
            transform: scale(1, .4);
        }
        100% {
            transform: scale(1, .8);
        }
    }
    @keyframes barUp5 {
        0% {
            transform: scale(1, 1);
        }
        40% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1, .2);
        }
        90% {
            transform: scale(1, .2);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}


@keyframes arrowmove {
    0%, 100% {bottom: 20px;}
    50% {bottom: 5px;}
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}