@import 'variables';

@media all and (min-width: 1375px) {
    .section.businessInFigures .container .content .block .number p{
        display: none;
    }
}

@media all and (max-width: 1199px) {
    .first-screen header.top .second > div nav{
        max-width: 480px;
    }
    .first-screen .middle{
        padding: 0 11% 0 11%;
    }
    .section.whatWeDo .content .block{
        padding: 30px 30px 30px 35px;
    }
    .section.businessInFigures .container .content .block{
        padding: 0 0 0 50px;
        &::before{
            left: 30px;
        }
        .number{
            &.first p{
                background-position: -265px 400px;
            }
            &.second p{
                background-position: -492px 400px;
            }
            &.third p{
                background-position: -721px 400px;
            }
            &.forth p{
                background-position: -947px 400px;
            }
        }
    }
    .section.howWeWork .content .block{
        padding: 45px 25px;
        a{
            left: 25px;
        }
    }
}

@media all and (max-width: 991px){
    .first-screen header.top .first .info div.languages,
    .first-screen header.top .second > div nav > ul{
        display: none;
    }
    .first-screen{
        background-position: 25% center;
        header.top{
            .second{
                padding-top: 18px;
                > div {
                    .mobile{
                        display: block;
                    }
                    nav.fixed{
                        width: 360px;
                        min-height: 60px;
                        .mobile {
                            .hamburger{
                                background-color: $submenuColorBg;
                                &::before, &::after{
                                    background-color: $submenuColorBg;
                                }
                            }
                        }
                    }
                }
            }
        }
        .middle{
            width: calc(100% + 30px);
            margin: 90px 0 0 -15px;
            .slide {
                a{
                    left: 50%;
                    transform: translateX(-50%);
                }
                div{
                    max-width: 590px;
                    &::after{
                        right: 40px;
                    }
                }
            }
        }
    }
    .section{
        &.whatWeDo .content {
            .block{
                a {
                    span{
                        color: $verticalText;
                        opacity: 1;
                        transition: all ease-in-out .4s;
                    }
                    &::after{
                        left: 88px;
                        transition: left ease-in-out .4s;
                    }
                }
                &:hover {
                    a{
                        span{
                            color: $orangeColor;
                            transition: all ease-in-out .4s;
                        }
                        &::after{
                            left: 98px;
                            transition: left ease-in-out .4s;
                        }
                    }
                }
            }
        }
        &.businessInFigures{
            background-image: url(../img/business-bg-768.jpg);
            background-position: 50% 50%;
            .container .content{
                flex-wrap: wrap;
                .block{
                    width: 50%;
                    padding: 0 0 0 100px;
                    &::before{
                        left: 60px;
                    }
                    .number{
                        p{
                            display: none;
                        }
                        &.first, &.second{
                            & + span{
                                min-height: 50px;
                            }
                        }
                        &.third, &.forth{
                            margin-top: 40px;
                        }
                    }
                    > span{
                        max-width: 80%;
                    }
                    a {
                        span{
                            opacity: 1;
                        }
                        &::after{
                            left: 88px;
                            opacity: 1;
                            transition: left ease-in-out .4s;
                        }
                    }
                    &:hover{
                        a{
                            &::after{
                                left: 98px;
                                transition: left ease-in-out .4s;
                            }
                        }
                    }
                }
            }
        }
        &.ourProjects{
            .projects{
                flex-wrap: wrap;
                flex-direction: column;
                .main{
                    min-width: 100%;
                    max-width: 100%;
                    img{
                        max-width: calc(100% - 50px);
                    }
                    .block{
                        width: 90%;
                    }
                }
                .info{
                    padding: 20px 0 0 0;
                    margin-bottom: 15px;
                    column-width: auto;
                    width: 100%;
                    p, ul{
                        display: inline-block;
                        width: 50%;
                        padding-left: 125px;
                    }
                    span{
                        display: inline-block;
                        width: 50%;
                        float: right;
                        margin-top: -20px;
                    }
                }
                &.project2{
                    .info{
                        opacity: 1;
                        order: 2;
                    }
                }
                &.project3{
                    .info{
                        opacity: 1;
                    }
                }
            }
        }
        &.howWeWork {
            .content{
                flex-wrap: wrap;
                padding-left: calc((100% - 570px)/2);
                .block{
                    padding: 45px 40px;
                    width: 285px;
                    &.third{
                        margin-top: -76px;
                        margin-left: 1px;
                    }
                    &.forth{
                        margin-top: -1px;
                    }
                    a{
                        left: 40px;
                        span{
                            opacity: 1;
                            color: $verticalText;
                            transition: all ease-in-out .4s;
                        }
                        &::after{
                            left: 88px;
                            transition: left ease-in-out .4s;
                        }
                    }
                    &:hover{
                        a{
                            span{
                                transition: all ease-in-out .4s;
                                color: $orangeColor;
                            }
                            &::after{
                                left: 98px;
                                transition: left ease-in-out .4s;
                            }
                        }
                    }
                }
            }
        }
        &.ourPartners{
            .content{
                a{
                    display: inline-block;
                    width: 20%;
                    padding: 5px;
                    text-align: center;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        &.fillTheForm .container form{
            width: 80%;
        }
    }
    footer .last > div span{
        float: right;
        margin-right: -7px;
    }
}

@media all and (max-width: 767px) {
    .first-screen header.top .first{
        display: none;
    }
    .first-screen {
        min-height: 600px;
        header.top {
            .second {
                > div{
                    nav.fixed{
                        width: 270px;
                    }
                }
            }
        }
        .middle{
            padding: 0;
            .slide{
                padding: 0 0 50px 0;
                div{
                    max-width: calc(100% + 30px);
                    border-bottom: none;
                    min-height: 0;
                    padding-top: 25px;
                    margin-bottom: 25px;
                    &::before, &::after{
                        display: none;
                    }
                    span{
                        max-width: 100%;
                        margin: 0 20px;
                        text-align: left;
                    }
                }
                a{
                    left: 0;
                    transform: translateX(0%);
                }
            }
            button.slick-arrow{
                top: 100%;
                transform: translateY(0%);
                margin-top: 25px;
                &.slick-next{
                    left: 50px;
                }
            }
        }
        .bottom{
            a{
                font-size: 30px;
            }
        }
    }
    .section{
        h3{
            margin-bottom: 30px;
        }
        &.whatWeDo{
            padding: 50px 0 0 0;
            .content{
                .block{
                    padding: 0;
                    margin-bottom: 40px;
                    p{
                        min-height: 0;
                        margin-bottom: 25px;
                    }
                    span{
                        max-width: 100%;
                        min-height: 0;
                        margin-bottom: 20px;
                    }
                    .top, .bottom{
                        display: none;
                    }
                }
            }
        }
        &.businessInFigures{
            .container{
                padding: 60px 15px 15px 15px;
                h3{
                    &::after{
                        display: none;
                    }
                }
                .content{
                    border: none;
                    padding: 0;
                    &::before, &::after{
                        display: none;
                    }
                    .block{
                        width: 100%;
                        padding: 0 0 0 35px;
                        margin-bottom: 35px;
                        &::before{
                            left: 0;
                        }
                        .number{
                            & + span, &.first + span, &.second + span{
                                min-height: 0;
                                margin-bottom: 20px;
                                max-width: 100%;
                            }
                            &.third, &.forth{
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        &.ourProjects{
            padding: 60px 0 0 0;
            .projects{
                margin: 0;
                .main{
                    img{
                        max-width: calc(100% + 30px);
                        margin-left: -15px;
                    }
                    .block{
                        width: 100%;
                        margin-top: 0;
                        height: auto;
                        border: none;
                        box-shadow: none;
                        padding-top: 20px;
                        div{
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            p.vertical{
                                position: static;
                                transform: rotate(0deg);
                            }
                            p.name{
                                margin: 0 0 15px 0;
                                padding: 0;
                                &::before{
                                    left: -60px;
                                }
                            }
                            a{
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
                .info{
                    display: none;
                }
            }
        }
        &.howWeWork{
            padding: 60px 0 50px 0;
            .content{
                margin: 0;
                .block{
                    &.first, &.second, &.third, &.forth{
                        margin: -1px auto 0 auto;
                        padding: 20px 20px 75px 20px;
                        height: auto;
                        width: 100%;
                        .myicon{
                            margin-bottom: 20px;
                        }
                        a{
                            bottom: 35px;
                            left: 20px;
                        }
                    }
                }
            }
        }
        &.ourPartners{
            padding: 10px 0 100px;
            .content{
                a{
                    width: 33.3333%;
                }
            }
        }
        &.fillTheForm{
            h3{
                margin: 0;
            }
            .container{
                box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
                padding: 45px 0 10px;
                max-width: 570px;
                form{
                    width: calc(100% - 20px);
                    padding: 10px 20px 60px;
                    min-height: 575px;
                    label{
                        width: 100%;
                        height: 65px;
                        padding-top: 20px;
                        input{
                            width: 100%;
                        }
                        span.label{
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transition: all ease-in-out .25s;
                            &.active{
                                top: 10px;
                                left: -5px;
                                font-size: 12px;
                                transition: all ease-in-out .25s;
                            }
                        }
                        span.error{
                            top: 65px;
                        }
                    }
                    > p{
                        height: 65px;
                        margin: 0;
                        border-bottom: 1px solid $projectBorder;
                        flex-direction: column;
                        justify-content: center;
                        span{
                            width: 100%;
                        }
                        label{
                            padding-top: 5px;
                            span.error{
                                left: 100%;
                                top: 0;
                                margin-left: 10px;
                                padding: 3px;
                                width: 160px;
                            }
                        }
                    }
                    .result p{
                        max-width: 75%;
                    }
                }
            }
        }
    }
    #offcanvas-menu{
        .top{
            min-height: 70px;
            padding: 0;
            // img{
            //     max-width: 210px;
            // }
        }
        .main{
            min-height: calc(100vh - 150px);
            max-height: calc(100vh - 150px);
        }
        .lang{
            min-height: 80px;
            padding: 0;
        }
        .mobile-cross{
            right: -10px;
        }
    }
    footer{
        text-align: center;
        .first {
            .left{
                margin: 15px 0;
            }
            .right{
                margin-bottom: 15px;
                p{
                    margin: 25px 0 0 0;
                    font-size: 10px;
                    line-height: 1;
                }
                span{
                    display: inline-block;
                    line-height: 1;
                }
            }
        }
        .last {
            min-height: 80px;
            padding: 20px 0;
            > div span{
                float: none;
                margin: 0;
            }
        }
    }
}

@media all and (max-width: 575px){
    .container{
        max-width: 100%;
    }
    .first-screen{
        background-position: 50% center;
        header.fixed{
            .container{
                .row{
                    > div{
                        width: 50%;
                        img.fixed{
                            margin: 0;
                            max-width: 210px;
                        }
                    }
                }
            }
        }
        header.top{
            .second{
                a img{
                    max-width: 210px;
                }
                > div{
                    width: 50%;
                    padding: 0 15px;
                    .mobile{
                        .hamburger{
                            right: 15px;
                        }
                    }
                    nav.fixed{
                        width: calc(50% - 15px);
                    }
                }
            }
        }
        .middle{
            padding: 0 15px;
            button.slick-arrow{
                margin-left: 15px;
            }
        }
    }
    .section{
        h3{
            font-size: 24px;
        }
        &.whatWeDo{
            padding: 50px 15px 0 15px;
            .content .block p::before{
                left: -35px;
            }
        }
        &.businessInFigures{
            padding: 0 15px;
        }
        &.ourProjects{
            h3{
                margin-left: 0;
            }
            .projects .main .block{
                padding: 20px 15px 0 15px;
            }
        }
        &.howWeWork {
            padding: 60px 15px 0 15px;
        }
        &.ourPartners{
            h3{
                margin-left: 15px;
            }
        }
    }
    #offcanvas-menu{
        .container{
            .row{
                > div{
                    padding: 0 15px;
                    .mobile-cross{
                        right: 5px;
                    }
                }
                &.top{
                    img{
                        max-width: 210px;
                    }
                }
            }
        }
    }
}