@font-face {
  font-family: 'PTAstraSans-Regular';
  src: url('PTAstraSans-Regular.woff') format('woff'),
       url('PTAstraSans-Regular.ttf') format('truetype'),
       url('PTAstraSans-Regular.svg#PTAstraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTAstraSans';
  src: url('PTAstraSans.eot');
  src: url('PTAstraSans.woff2') format('woff2'),
       url('PTAstraSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

