@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans-Bold.woff') format('woff'),
        url('PTSans-Bold.ttf') format('truetype'),
        url('PTSans-Bold.svg#PTSans-Bold') format('svg');
    src: url('PTSans-Bold.eot');
    src: url('PTSans-Bold.woff2') format('woff2'),
        url('PTSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}