@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype'),
        url('PTSans-Regular.svg#PTSans-Regular') format('svg');
    src: url('PTSans-Regular.eot');
    src: url('PTSans-Regular.woff2') format('woff2'),
        url('PTSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

