@font-face {
  font-family: 'PTAstraSans-Italic';
  src: url('PTAstraSans-Italic.woff') format('woff'),
       url('PTAstraSans-Italic.ttf') format('truetype'),
       url('PTAstraSans-Italic.svg#PTAstraSans-Italic') format('svg');
  src: url('PTAstraSans-Italic.eot');
  src: url('PTAstraSans-Italic.woff2') format('woff2'),
       url('PTAstraSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


